.card[b-2oxnvdzmfh] {
    display: flex;
    position: relative;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.8);
    align-self: stretch;
    overflow: hidden;
  }
  
  .card h2[b-2oxnvdzmfh] {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .card p[b-2oxnvdzmfh] {
    font-size: 1rem;
    color: #555555;
    margin-bottom: 90px;
  }

  .card button[b-2oxnvdzmfh] {
    background-color: black;
    color: white;
    border: none;
    border-radius: 50px;
    margin: 15px;
    padding: 13px;
    max-width: 130px;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }

  .card button[b-2oxnvdzmfh] {
    display: flex;
    background-color: white;
    color: black;
    font-size: medium;
    border: grey solid 1px;
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1);
    transition: all 0.3s ease; 
  }

  .card button:hover[b-2oxnvdzmfh] {
    background-color: black;
    color: white;
    border-color: black;
  }


  .image[b-2oxnvdzmfh] {
    position: absolute;
    width: 80%;
    height: 80%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5; 
    z-index: -1;
    border-radius: inherit;
  }

  