/* _content/PortfolioServer/Components/Card.razor.rz.scp.css */
.card[b-2oxnvdzmfh] {
    display: flex;
    position: relative;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.8);
    align-self: stretch;
    overflow: hidden;
    margin-bottom: 30px;
  }
  
  .card h2[b-2oxnvdzmfh] {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .card p[b-2oxnvdzmfh] {
    font-size: 1rem;
    color: #555555;
    margin-bottom: 90px;
  }

  .card button[b-2oxnvdzmfh] {
    background-color: #0b090a;
    min-width: 130px;
    color: white;
    border: none;
    border-radius: 50px;
    border: solid 2px;
    border-color: black;
    margin: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    max-width: 130px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1);
    transition: all 0.3s ease; 
  }

  .card button:hover[b-2oxnvdzmfh] {
    background-color: #a4161a;
    color: black;
    font-weight: bold;
    border: solid 2px;
    border-color: black;
  }


  .image[b-2oxnvdzmfh] {
    position: absolute;
    width: 80%;
    height: 80%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5; 
    z-index: -1;
    border-radius: inherit;
  }

  
/* _content/PortfolioServer/Components/Certificate.razor.rz.scp.css */
.cert-container[b-d931e4o0r9] {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-width: 1000px;
  position: relative;
  overflow: hidden;
}

.cert-container-image[b-d931e4o0r9] {
  position: absolute;
  top: 0;
  left: 600px;
  width: 40%;
  height: 100%;
  background-size: cover; /* Adjust background image size */
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5; /* Adjust opacity of background image */
  z-index: -1; /* Ensure background is behind other content */
  border-radius: inherit; /* Inherit border radius from parent */
}

.skill-card[b-d931e4o0r9] {
  font-size: small;
  display: flex;
  flex-wrap: wrap;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  width: fit-content;
  margin-right: 10px;
  margin-bottom: 15px;
}

.wrapper[b-d931e4o0r9] {
  margin-bottom: 25px;
}

.container[b-d931e4o0r9] {
  display: flex;
  margin: 0;
}

.skills-container[b-d931e4o0r9] {
  display: flex;
  flex-wrap: wrap;
}

.line[b-d931e4o0r9] {
  min-width: 6px;
  border-radius: 50px;
  margin-right: 20px;
}

.dates[b-d931e4o0r9] {
  padding-right: 6px;
}

.dates p[b-d931e4o0r9] {
  margin: 0; /* Remove default margin */
  font-size: smaller;
  color: darkslategray;
  white-space: nowrap;
}

.title-container button[b-d931e4o0r9] {
  display: flex;
  align-items: center;
  background-color: white;
  color: black;
  font-size: x-small;
  border: grey solid 1px;
  margin-top: -7px;
  margin-right: -7px;
  max-height: 27px;
  border-radius: 50px;
  padding-left: 15px;
  padding-right: 15px;
  min-width: 115px;
  box-shadow: 0 2px 3px rgba(0,0,0,0.1);
  transition: all 0.3s ease; 
}

.button-span[b-d931e4o0r9] {
  font-family: Trebuchet MS, sans-serif;
  padding-left: 3px;
}

.title-container button:hover[b-d931e4o0r9] {
  background-color: black;
  color: white;
  border-color: black;
}

.title-container[b-d931e4o0r9] {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 992px) {
  .cert-container-image[b-d931e4o0r9] {
    opacity: 0;
  }
}

@media (max-width: 767px) {
  .dates p[b-d931e4o0r9] {
    font-size: xx-small;
  }

  .title-container button[b-d931e4o0r9] {
    font-size: xx-small;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 100px;
  }

  .cert-container h3[b-d931e4o0r9] {
    font-size: medium;
    font-weight: bolder;
  }

  .cert-container p[b-d931e4o0r9] {
    font-size: small;
  }

  .title-container h3[b-d931e4o0r9] {
    max-width: 200px;
  }

  .line[b-d931e4o0r9] {
    min-width: 4px;
  }
}
/* _content/PortfolioServer/Components/SkillBox.razor.rz.scp.css */
.skill-card[b-310c4m88ge] {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: fit-content;
    align-self: stretch;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
  }
/* _content/PortfolioServer/Pages/About/AboutMe.razor.rz.scp.css */
.container[b-nzq3q9rdxb] {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.info-container[b-nzq3q9rdxb] {
    margin-top: 15px;
    align-self: baseline;
}

.information[b-nzq3q9rdxb] {
    display: flex;
    align-self: baseline;
}

.background-image[b-nzq3q9rdxb] {
    top: 0;
    position: absolute;
    width: 100%;
    max-height: 50%;
    object-fit: cover;
    z-index: -1;
}

.span-grey[b-nzq3q9rdxb] {
    color: grey;
}

.profile-image[b-nzq3q9rdxb] {
    align-self: baseline;
    margin-top: 70px;
    margin-left: 30px;
    border-radius: 50%;
    border: 4px solid #fff; 
}

.profile-container[b-nzq3q9rdxb] {
    position: relative;
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: -2;
    border: #a4161a 1px solid;
    border-radius: 10px;
    width: 100%;
    overflow: hidden;
}

.secondary-container[b-nzq3q9rdxb] {
    height: fit-content;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: #a4161a 1px solid;
    box-shadow: 0 3px 8px rgba(0,0,0,0.2);
    border-radius: 10px;
    width: 100%
  }

  @media (max-width: 770px) {
    .container h3[b-nzq3q9rdxb] {
        font-size: large;
    }

    .container p[b-nzq3q9rdxb] {
        font-size: small;
    }
  }
/* _content/PortfolioServer/Pages/Certificates/Certificates.razor.rz.scp.css */
.certificates[b-5435ieq8cw] {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.title[b-5435ieq8cw] {
    margin-left: 80px;
    margin-bottom: 20px;
}
/* _content/PortfolioServer/Pages/CV/CV.razor.rz.scp.css */
.pdf-container[b-hy89jytuwz] {
    text-align: center;
}


.pdf[b-hy89jytuwz] {
  width: 100%;
  height: 90vh;
}
/* _content/PortfolioServer/Pages/Portfolio/Index.razor.rz.scp.css */
.container[b-8xfjdoezj6] {
    margin-top: 20px;
    display: flex; /* Default direction is row */
    justify-content: center;
    align-items: center;
    max-width: 1500px;
  }

  .main-title[b-8xfjdoezj6] {
    margin: 0 50px;
  }

  h1[b-8xfjdoezj6] {
    align-self: center;
  }


  @media (max-width: 767px) {
    .container[b-8xfjdoezj6] {
      flex-wrap: wrap;
    }

    .round-image[b-8xfjdoezj6] {
      width: 150px;
      height: 150px;
    }

    .main-title[b-8xfjdoezj6] {
      margin-top: 20px;
    }
  }
/* _content/PortfolioServer/Pages/ProjectDetails/ProjectDetails.razor.rz.scp.css */
.project-card[b-9acy078g7x] {
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.8);
    max-width: 900px;
    position: relative;
    overflow: hidden;
}

.project-card h6[b-9acy078g7x] {
    font-weight: bold;
}

.line[b-9acy078g7x] {
    min-width: 6px;
    background-color: #000000;
    margin-right: 20px;
    border-radius: 50px;
}

.role-line[b-9acy078g7x] {
    min-width: 3px;
    background-color: #d0d0d0; 
    border-radius: 50px;
}

.dates[b-9acy078g7x] {
    margin-right: 6px;
}

.dates p[b-9acy078g7x] {
    margin: 0; /* Remove default margin */
    font-size: smaller;
    color: darkslategray;
    white-space: nowrap;
}

.customer[b-9acy078g7x] {
    display: flex;
    flex-wrap: wrap;
    font-size: large;
    font-weight: bold;
    margin-top: 10px;
}

.skills-container[b-9acy078g7x] {
    display: flex;
    flex-wrap: wrap;
}

.skill-card[b-9acy078g7x] {
    font-size: small;
    display: flex;
    flex-wrap: wrap;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    width: fit-content;
    border-left: 4px solid #000000;
    border-top: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
    margin-right: 10px;
    margin-bottom: 15px;
}

.project-card-image[b-9acy078g7x] {
    position: absolute;
    top: 0;
    left: 500px;
    width: 50%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
    z-index: -1;
    border-radius: inherit;
  }

.customer-sector[b-9acy078g7x] {
    font-size: medium;
    color: grey;
    padding-left: 5px;
}

.role-container[b-9acy078g7x] {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    max-width: 375px;
}

.container[b-9acy078g7x] {
    display: flex;
}
@media (max-width: 992px) {
    .project-card-image[b-9acy078g7x] {
      opacity: 0;
    }
}

@media (max-width: 767px) {
    .project-card[b-9acy078g7x] {
        width: fit-content;
        min-width: auto;
    }

    .dates p[b-9acy078g7x] {
        font-size: xx-small;
      }
    
    .project-card h2[b-9acy078g7x] {
        font-size: large;
    }
    
    .project-card span[b-9acy078g7x] {
        font-size: smaller;
    }

    .project-card p[b-9acy078g7x] {
        font-size: small;
    }
}
/* _content/PortfolioServer/Pages/Projects/MyProjects.razor.rz.scp.css */
/* _content/PortfolioServer/Pages/Skills/Skills.razor.rz.scp.css */
.container[b-9l2b1y8ehd] {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 767px) {
  .programming-container[b-9l2b1y8ehd] {
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
  }

  .programming-container div[b-9l2b1y8ehd] {
    width: calc(50% - 20px);
    margin: 10px;
  }

  @media (max-width: 479px) {
    .programming-container div[b-9l2b1y8ehd] {
      width: calc(100% - 20px);
    }
  }
}
/* _content/PortfolioServer/Shared/MainLayout.razor.rz.scp.css */
.page[b-veebm97tkr] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-veebm97tkr] {
    flex: 1;
}

.sidebar[b-veebm97tkr] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-veebm97tkr] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-veebm97tkr]  a, .top-row .btn-link[b-veebm97tkr] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-veebm97tkr] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-veebm97tkr] {
        display: none;
    }

    .top-row.auth[b-veebm97tkr] {
        justify-content: space-between;
    }

    .top-row a[b-veebm97tkr], .top-row .btn-link[b-veebm97tkr] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-veebm97tkr] {
        flex-direction: row;
    }

    .sidebar[b-veebm97tkr] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-veebm97tkr] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-veebm97tkr], article[b-veebm97tkr] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/PortfolioServer/Shared/NavMenu.razor.rz.scp.css */
.navbar-container[b-g4tl63h13v] {
  background-color: #0b090a;
  padding: 10px;
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 1000;
}

.navbar[b-g4tl63h13v] {
  display: flex;
  flex-direction: column;
  width: fit-content; 
  align-items: baseline;
}

.nav-item[b-g4tl63h13v] {
  font-size: 1rem;
  margin-bottom: 20px;
}

.nav-item[b-g4tl63h13v]  .nav-link {
  color: rgb(175, 173, 173);
  background: none;
  border: none;
  border-radius: 4px;
  height: 3rem;
  display: flex;
  align-items: center;
  line-height: 1rem;
  width: 100%; 
}

.nav-item[b-g4tl63h13v]  a.active {
  background-color: #e5383b;
  color: black;
  font-weight: bold;
}

.nav-item[b-g4tl63h13v]  .nav-link:hover {
  background-color: rgba(229, 56, 59, 0.3);
  color: white;
}

.hamburger-menu[b-g4tl63h13v] {
  display: none;
}

.menu-items[b-g4tl63h13v] {
  display: none;
  background-color: #0b090a;
  opacity: 0.93;
  width: fit-content;
  padding: 7px;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 0 0 10px 0;
  z-index: 1000;
}

.menu-items .nav-item:first-child[b-g4tl63h13v] {
    margin-top: 50px; /* Adjust this value as needed */
}

.menu-items ul[b-g4tl63h13v] {
  list-style-type: none;
  padding: 0;
}

.bar[b-g4tl63h13v] {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #ba181b;
  margin: 5px 0;
}

@media (max-width: 767px) {
  .navbar-container[b-g4tl63h13v] {
    display: none;
  }

  .hamburger-menu[b-g4tl63h13v] {
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 10px;
    margin-top:  10px;
    color: black;
    display: inline-block;
    cursor: pointer;
    z-index: 1001;
  }
}





