.container[b-9l2b1y8ehd] {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 767px) {
  .programming-container[b-9l2b1y8ehd] {
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
  }

  .programming-container div[b-9l2b1y8ehd] {
    width: calc(50% - 20px);
    margin: 10px;
  }

  @media (max-width: 479px) {
    .programming-container div[b-9l2b1y8ehd] {
      width: calc(100% - 20px);
    }
  }
}
