.project-card {
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.8);
    max-width: 900px;
    position: relative;
    overflow: hidden;
}

.project-card h6 {
    font-weight: bold;
}

.line {
    min-width: 6px;
    background-color: #000000;
    margin-right: 20px;
    border-radius: 50px;
}

.role-line {
    min-width: 3px;
    background-color: #d0d0d0; 
    border-radius: 50px;
}

.dates {
    margin-right: 6px;
}

.dates p {
    margin: 0; /* Remove default margin */
    font-size: smaller;
    color: darkslategray;
    white-space: nowrap;
}

.customer {
    display: flex;
    flex-wrap: wrap;
    font-size: large;
    font-weight: bold;
    margin-top: 10px;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
}

.skill-card {
    font-size: small;
    display: flex;
    flex-wrap: wrap;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    width: fit-content;
    border-left: 4px solid #000000;
    border-top: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
    margin-right: 10px;
    margin-bottom: 15px;
}

.project-card-image {
    position: absolute;
    top: 0;
    left: 500px;
    width: 50%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
    z-index: -1;
    border-radius: inherit;
  }

.customer-sector {
    font-size: medium;
    color: grey;
    padding-left: 5px;
}

.role-container {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    max-width: 375px;
}

.container {
    display: flex;
}
@media (max-width: 992px) {
    .project-card-image {
      opacity: 0;
    }
}

@media (max-width: 767px) {
    .project-card {
        width: fit-content;
        min-width: auto;
    }

    .dates p {
        font-size: xx-small;
      }
    
    .project-card h2 {
        font-size: large;
    }
    
    .project-card span {
        font-size: smaller;
    }

    .project-card p {
        font-size: small;
    }
}