.cert-container {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-width: 1000px;
}

.container {
  display: flex;
}

.line {
  width: 6px;
  background-color: #217dc0;
  border-radius: 50px;
  margin-right: 20px;
}
