.container {
    margin-top: 20px;
    display: flex; /* Default direction is row */
    justify-content: center;
    align-items: center;
    max-width: 1500px;
  }

  .main-title {
    margin: 0 50px;
  }

  h1 {
    align-self: center;
  }


  @media (max-width: 767px) {
    .container {
      flex-wrap: wrap;
    }

    .round-image {
      width: 150px;
      height: 150px;
    }

    .main-title {
      margin-top: 20px;
    }
  }