.container[b-jkqs6sh4fi] {
    margin-top: 20px;
    display: flex; /* Default direction is row */
    justify-content: center;
    align-items: center;
    max-width: 1000px;
  }

  .main-title[b-jkqs6sh4fi] {
    margin: 0 50px;
  }
  
  .card-container[b-jkqs6sh4fi] {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 20px;
  }

  h1[b-jkqs6sh4fi] {
    align-self: center;
  }


  