@page "/about"

<PageTitle>About Me</PageTitle>

<div class=profile-container>
    <img src="/background.jpg" class="background-image" alt="My image"/>	
    <img src="/tobias.png" class="profile-image" alt="My image" width="175" height="175"/>	
    <div class="information">
        <div class="info-container">
            <h3>Tobias Vetrhus</h3>
            <p>Fullstack .NET Junior Developer</p>
            <p>
                <span>Vennesla, Agder, Norway -</span><span> Contact</span>
            </p>
        </div>
        <div>
            <p>More content?</p>
        </div>
    </div>
</div>

@* <div class="info-container">
    <div class="info-box">
        <p class="info-header">Name</p>
        <p>Tobias Vetrhus</p>
    </div>
    <div class="info-box">
        <p class="info-header">Age</p>
        <p>22</p>
    </div>
    <div class="info-box">
        <p class="info-header">Home</p>
        <p>Vennesla, Norway</p>       
    </div>
    <div class="info-box">
        <p class="info-header">Email</p>
        <p>Tobias-vetrhus@outlook.com</p>   
    </div>
</div> *@
<div class="summary-container">
<p>
    My name is Tobias, and I work as a full-stack .NET junior developer for Experis in Kristiansand. I completed a bootcamp at Experis Academy in full-stack .NET at Noroff.
    <br><br>
    I hold a Bachelor's degree in IT and Information Systems from the University of Agder (UiA), which I completed in the spring of 2023. My passion lies in system development, and I am committed to practicing and expanding my skills in programming, databases, and design. Throughout my academic journey, I participated in various group projects, gaining valuable experience in agile project management, diverse programming languages, database development, and service and interaction design.
    <br><br>
    My bachelor's project provided unique insights into No-Code artificial intelligence and data analysis. I am highly motivated to continue enhancing my skills and am eager to learn new technologies, programming languages, and work methodologies. I thrive on engaging and diverse tasks that challenge me to become better at what I do and build upon my developer knowledge.
    <br><br>
    During my studies at UiA, teamwork and project management were emphasized, and I had positive experiences collaborating with different people to find solutions together. Working in teams, I developed strong organizational habits, including the use of Scrum methodology. Additionally, I am effective at working independently, known for being reliable and hardworking.
    <br><br>
    With several years in the service industry, I've gained extensive experience in customer service and communication. I've taken on responsibilities such as managing various departments, handling purchases, and training new staff. This experience taught me to excel in customer service and manage a hectic schedule. In the grocery industry, I acquired business acumen, learned new systems, and developed effective collaboration skills to uplift the workplace together.
    </p>
</div>