.info-container {
    display: flex;
    padding: 15px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    place-items: center;
    max-width: fit-content;
}

.info-box {
    margin-left: 50px;
}

.info-header {
    font-size: medium;
    font-weight: bold;
}

.summary-container {
    margin-top: 20px;
    display: flex;
    max-width: 900px;
  }

  @media (max-width: 920px) {
    .info-container {
        padding: 10px;
    }

    .info-header {
        font-size: small;
    }

    .info-box {
        font-size: small;
        margin-left: 20px;
    }
  }

  @media (max-width: 767px) {
    .info-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .info-box {
        margin-left: 0;
    }

    .summary-container {
        font-size: small;
    }
  }
