@page "/skills"
@using PortfolioServer.Components

<PageTitle>Skills</PageTitle>

<h2 class="text-center">Programming & Markup</h2>
    <div class="container">
        <SkillBox Image="/PHP.png" SkillName=PHP Width="50" Height="50"/>
        <SkillBox Image="/TS.png" SkillName=TypeScript Width="50" Height="50"/>
        <SkillBox Image="/JS.png" SkillName=JavaScript Width="50" Height="50"/>
        <SkillBox Image="/Csharp.png" SkillName="C Sharp" Width="47" Height="50"/>
        <SkillBox Image="/HTML.png" SkillName=HTML Width="50" Height="50"/>
        <SkillBox Image="/CSS.png" SkillName=CSS Width="40" Height="50"/>
        <SkillBox Image="/tailwind.png" SkillName=Tailwind Width="60" Height="50"/>
    </div>
    <br>
<h2 class="text-center">Frameworks</h2>
    <div class="container">
        <SkillBox Image="/React.png" SkillName=React Width="50" Height="50"/>
        <SkillBox Image="/Angular.png" SkillName=Angular Width="50" Height="50"/>
        <SkillBox Image="/dotnet.png" SkillName=.NET Width="50" Height="50"/>
    </div>
    <br>
<h2 class="text-center">Development & Tools</h2>
    <div class="container">
        <SkillBox Image="/Miro.png" SkillName=Miro Width="50" Height="50"/>
        <SkillBox Image="/VS.png" SkillName="Visual Studio" Width="100" Height="50"/>
        <SkillBox Image="/Docker.png" SkillName=Docker Width="50" Height="50"/>
        <SkillBox Image="/VSC.png" SkillName="Visual Studio Code" Width="50" Height="50"/>
        <SkillBox Image="/git.png" SkillName=Git Width="50" Height="50"/>
        <SkillBox Image="/github.png" SkillName=GitHub Width="100" Height="50"/>
        <SkillBox Image="/Figma.png" SkillName=Figma Width="50" Height="50"/>
    </div>
    <br>
<h2 class="text-center">Data & Cloud</h2>
    <div class="container">
        <SkillBox Image="/SSMS.png" SkillName="SQL Server" Width="65" Height="50"/>
        <SkillBox Image="/Azure.png" SkillName="Azure" Width="50" Height="50"/>
        <SkillBox Image="/SQL.png" SkillName=SQL Width="40" Height="50"/>
        <SkillBox Image="/PLSQL.png" SkillName="Oracle PL/SQL" Width="85" Height="50"/>
    </div>
    <br>
<h2 class="text-center">Project Management</h2>
    <div class="container">
        <SkillBox Image="/jira.png" SkillName="Jira" Width="50" Height="50"/>
        <SkillBox Image="/trello.png" SkillName="Trello" Width="50" Height="50"/>
        <SkillBox Image="/Scrum.png" SkillName=Agile Width="50" Height="50"/>
    </div>