@inject IJSRuntime JSRuntime

<div class="navbar-container"
    <div class="navbar">
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> Portfolio
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="about" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> About Me
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="skills" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> Skills
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="resume" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> CV
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="myprojects" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> My Projects
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="certificates" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> Certificates
            </NavLink>
        </div>
    </div>
</div>

<div class="hamburger-menu @(isMenuOpen ? "active" : "")" @onclick="ToggleMenu">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
</div>

<div class="menu-items" @onclick="ToggleMenu" style="@menuDisplay">
    <ul>
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> Portfolio
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="about" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> About Me
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="skills" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> Skills
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="resume" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> CV
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="myprojects" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> My Projects
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="certificates" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> Certificates
            </NavLink>
        </div>
    </ul>
</div>

@code {
    private bool isMenuOpen = false;

    private string menuDisplay => isMenuOpen ? "display: block;" : "display: none;";

    private void ToggleMenu()
    {
        isMenuOpen = !isMenuOpen;
    }
}
