@page "/certificates"
@using PortfolioServer.Components

<h1>My Certificates</h1>


<Certificate 
    Title="Microsoft Certified: Azure Fundamentals"
    Issuer="Microsoft"
    Description="Earners of the Azure Fundamentals certification have demonstrated foundational level knowledge of cloud services and how those services are provided with Microsoft Azure."
    IssuedAt="2023-11-08"
    Skills=@new List<string> { "Azure", "Cloud Data", "Cloud Networking", "Cloud Security", "Cloud Services", "Cloud Storage", "Virtualization" }
/>